.column {
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

text {
  font-family: Georgia, Times, "Times New Roman", serif;
}

polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.radio-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20%;
  margin-top: -15%;
}

.radio-button {
  margin-left: 24px;
  margin-right: 6px;
}
